<div class="error-container">
    <h1 class="error-404">404</h1>
    <p class="error-404-text">
        Sorry the server is not responding right now.
    </p>
    <p class="error-404-text">Please try again later.</p>
</div>