{{#each this}}
<li class="products-film">
    <img srcset="" class="imgFilm" src="{{}}" alt="{{}}" />
    <h3 class="products-name">{{}}</h3>
    <div class="reyting-align">
        <p class="products-style">{{}}</p>
        <!-- <p class="reyting">{{}}</p> -->
    </div>
</li>
{{/each}}