html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $font_roboto;
  .container {
    margin: auto;
    padding: 0px 20px 0px 20px;
    width: 100%;
    @media screen and (min-width: 480px) {
      width: 480px;
      padding: 0px 28px 0px 28px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0px 35px 0px 35px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding: 0px 115px 0px 115px;
    }
  }
}
ul {
  list-style: none;
}
