.team__modal {
  cursor: pointer;
  color: $color_footer_text_grey;
  transition: 250ms;
  font-weight: 500;

  &:hover {
    color: $color_orange;
  }
}

p {
  padding: 0;
  margin: 0;
}
.footer_container {
  margin-left: auto;
  margin-right: auto;
  color: $color_footer_text_grey;
  font-family: $font_roboto;
  align-items: center;

  .footer__image {
    padding-left: 10px;
    padding-right: 10px;
    color: $color_orange;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

footer {
  background-color: $color_light_grey;
  padding-bottom: 30px;
  padding-top: 30px;
}

.copyright {
  margin: 0;
  display: flex;
  justify-content: center;
}

.developers {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.bottom__footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}

.teamModalBack{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  &.teamModalIsHidden{
    opacity: 0;
    pointer-events: none;
  }

}
.teamModalBtnClose{
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  &:hover{
    color: $color_orange;
  }
}
.team_list{

  @media screen and (max-width: $tablet - 1px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.teamModalContainer{
  background: $color_light_grey;
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  @media screen and (max-width: $tablet - 1px) {
    bottom: 100px;
  }

}
.teammate_name{
  color: $color_black;
  font-weight: 500;
}
.teammate_job{
  color: $color_orange;
  font-style: italic;
  font-weight: 400;
}
.teammate_info{
  text-align: center;
  @media screen and (max-width: $mobile_l - 1px) {
    width: 120px;
  }
  @media screen and (min-width: $mobile_l) {
    width: 213px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $tablet) {
    width: 150px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 213px;
    margin-bottom: 15px;
  }
}
.teammate_img{
  font-size: 70px;
  color: $color_dark_theme_gray;
  @media screen and (max-width: $mobile_l - 1px) {
    font-size: 50px;
  }
}

