 .team__modal {
    text-decoration: underline;
    cursor: pointer;
  }
  
  p {
    padding: 0;
    margin: 0;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    color: $color_footer_text_grey;
    font-family: $font_roboto;
  
    .footer__image {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media screen and (min-width: 320px) {
        width: 320px;
        padding: 0 20px 0 20px;
      }
  
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 35px 0 35px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 1024px;
      padding: 0 115px 0 115px;
    }
  }
  
  footer {
    background-color: $color_light_grey;
  }

  @media screen and (min-width: 320px) {
    .copyright {
      margin: 0px;
      display: flex;
      justify-content: center;
      padding-top: 29px;
      padding-bottom: 10px;
    }
  
    .developers {
      margin: 0px;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
    .bottom__footer {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  
  
  @media screen and (min-width: 768px) {
    .page__footer {
      display: flex;
      justify-content: center;
    }
  
    .copyright {
      padding-top: 30px;
      padding-bottom: 28px;
    }
    .developers {
      padding-top: 30px;
      padding-bottom: 28px;
    }
  
    .bottom__footer {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }
  