.header_main {
  display: flex;
  background-color: $color_black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_default_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 230px;
}

.menu-container {
  margin-top: 45px;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: block;

  &-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
