.header_main {
  display: flex;
  background-color: $color_black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_default_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 230px;
}

.menu-container {
  margin-top: 45px;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: block;
  color: $color_white;
  margin-left: 7px;

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $color_grey;

    &:hover svg {
      fill: $color_orange;
    }
  }
}

.sign-in {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_white;
  margin-left: auto;
  display: inline-block;

  &:hover {
    color: $color_orange;
  }
}

.main-search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 113px;
}
