.header_main {
  background-color: $color_black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_default_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 230px;
}

.menu-container {
  margin-top: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav {
  display: flex;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: block;
  color: $color_white;
  margin-left: 7px;

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $color_grey;

    &:hover svg {
      fill: $color_orange;
    }
  }
}

.sign-in {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_white;
  margin-left: auto;
  display: inline-block;

  &:hover {
    color: $color_orange;
  }
}

.main-search {
  margin-top: 44px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 306px;
}

.search-form {
  color: $color_white;

  & input {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    border-bottom: 1px solid;
    border-bottom-color: $color_white;
    width: 306px;
    padding-right: 20px;
    transition: 1s;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 4px;
    color: $color_white;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(184, 181, 181, 0.3);
    }

    &::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $color_white;
    }
  }
  & svg {
    position: absolute;
    right: 4px;
    top: 26px;
  }
}

.hidden {
  display: none;
}

.menu-user-link {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  width: 146px;
  height: 48px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $color_white;
  letter-spacing: 0.035em;
  transition: 500ms;

  &:hover {
    background: rgba(202, 200, 200, 0.6);
    color: $color_white;
    font-weight: 700;
  }

  & svg {
    fill: $color_orange;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-name {
  display: block;
  margin-top: 13%;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 20px;
  }
}

.menu-list-container {
  position: absolute;
  width: 146px;
  background: rgba(202, 200, 200, 0.3);
  top: 0px;
  padding-top: 74px;
  padding-bottom: 15px;
}

.menu-list-link {
  text-decoration: none;
  transition: 500ms;

  &:hover {
    font-weight: 700;
    border-bottom: solid 3px $color_orange;
    color: $color_white;
  }
}

.menu-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $color_white;
  text-transform: uppercase;
  text-decoration: none;

  &:not(:first-child) {
    margin-top: 20px;
  }
}
