.header-library {
  display: block;

  height: 230px;
  max-width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Library_mobile_1x.jpg);
    padding: 46px 21px 65px 21px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Library_tablet_1x.jpg);
    padding: 48px 71px 65px 71px;
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Library_desktop_1x.jpg);
    padding: 42px 71px 65px 71px;
  }
}

.header-nav {
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $color_white;

  &:hover i {
    color: $color_orange;
  }
}
.bi-film {
  font-size: 24px;
  color: $color_dark_theme_gray;
}
.logo {
  font-family: $font_roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: block;
  color: $color_white;
  margin-left: 7px;
  width: 133.34px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color_white;
  width: 92px;
  height: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  font-family: inherit;
}
.bi-person-circle {
  font-size: 20px;
  color: $color_orange;
}
.username p {
  margin: 0;
  width: 64px;
  height: 11px;
}
.container-button {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
}

.library-button {
  display: block;
  border-radius: 5px;
  height: 100%;
  width: 136px;
  padding: 14px 38px 12px;
  border: 1px solid $color_white;
  color: $color_white;
  text-transform: uppercase;
  background-color: Transparent;
  margin-left: 15px;
  @media screen and (max-width: 767px) {
    width: 130px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
}
.library-button:first-child {
  margin-left: 0;
}

// для активных кнопок
.active {
  background-color: $color_orange;
  border: 0;
}
