$font_roboto: 'Roboto', sans-serif;

$color_white: #ffffff;
$color_black: #000000;
$color_orange: #ff6b08;
$color_red: #ff001b;
$color_grey: #585656;
$color_light_grey: #f7f7f7;
$color_footer_text_grey: #545454;
$color_dark_theme_gray: #c4c4c4;

$mobile_s: 320px;
$mobile_l: 480px;
$tablet: 768px;
$desktop: 1024px;
