.error-404 {
  font-family: $font_roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 87px;
  color: #ff6b08;
  text-align: center;

  &-text {
    font-family: $font_roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
}

.error-text {
  font-family: $font_roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color_red;
  text-align: center;
  margin-top: 18px;
  letter-spacing: 0.03em;
}

.error-container {
  margin-top: 40px;
}
